/* GENERAL */
.grey-bkg {
  background-color: #efefef;
}

.black-bkg {
  background-color: #191919;
}

.border-red {
  border: 1px solid red;
}

.page-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.margin-left {
  margin-left: 20px;
}

.margin-botton {
  margin-bottom: 40px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  height: calc(100vh - 300px);
  contain: content;
}

h1 {
  font-size: 30px;
  margin: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: currentColor;
}
.text-center {
  text-align: center;
}

.forms-style {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forms-style input {
  border: lightgrey 1px solid;
  height: 30px;
  width: 250px;
  padding: 15px;
}

.forms-style button {
  border: none;
  height: 30px;
  width: 250px;
  background-color: #b42f5a;
  color: white;
  cursor: pointer;
}

.forms-style label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.forms-style textarea {
  width: 250px;
  height: 200px;
  border: lightgrey 1px solid;
  padding: 15px;
}

.error-message {
  color: #b42f5a;
  font-size: 12px;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #b42f5a;
  height: 100px;
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
}

.header-container img {
  height: 49px;
  width: 188px;
}
.header-right {
  display: flex;
}
.header-text {
  color: white;
  margin-right: 15px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  height: 200px;
}

.footer-text {
  color: #efefef;
}
/* LOGIN PAGE */

.forms-container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.separator {
  background-color: grey;
  width: 1px;
  height: 300px;
}

@media (max-width: 900px) {
  .separator {
    visibility: hidden;
    height: 0px;
  }
  .forms-container {
    margin-top: 15px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

/* HOME PAGE */

.flex-center {
  display: flex;
  justify-content: center;
  height: calc(100% - 300px);
}
.home-container {
  margin-top: 40px;
  width: 70%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-grid {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 5%;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
  width: 255px;
  border: 1px solid lightgray;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.new-contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 255px;
  width: 255px;
  background-color: #b42f5a;
  border: 1px solid #b42f5a;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.new-contact-card:hover {
  background-color: #a50a3b;
}

.new-contact-card > h1 {
  color: white;
}

.new-contact-card img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.contact-cards:hover {
  box-shadow: 0px 0px 5px #b42f5a;
  background-color: #fbfbfb;
  border: #b42f5a solid 3px;
}

.top-bar input {
  border: lightgrey 1px solid;
  height: 30px;
  width: 250px;
  padding: 15px;
}
.top-bar select {
  border: lightgrey 1px solid;
  height: 30px;
  width: 250px;
  margin-right: 5px;
}
.create-button {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  height: 30px;
  background-color: #b42f5a;
  color: white;
}

/* CREATE CONTACT */

.display-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  color: gray;
}

.display-buttons > div {
  cursor: pointer;
}

/* DETAIL CONTACT */

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px gray solid;
  width: 100%;
  padding: 30px;
}

.created-by {
  margin-bottom: 15px;
  font-size: 12px;
  color: grey;
}

.edition-name-option {
  display: flex;
  gap: 30px;
  align-items: center;
}

.edition-name-option-input {
  font-size: 20px;
  border: solid 1px lightcoral;
  border-style: dotted;
  padding: 15px;
}

.edition-contact-option {
  font-size: 15px;
  border: solid 1px lightcoral;
  border-style: dotted;
  padding: 15px;
}

.edition-contact-description {
  font-size: 12px;
  width: 585px;
  height: 80px;
  border: solid 1px green;
  border-style: dotted;
  padding: 15px;
}

.update-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  height: 30px;
  /* width: 250px; */

  color: white;
  cursor: pointer;
}
.normal-button {
  background-color: #b42f5a;
}
.red-button {
  background-color: red;
}

.options-bar {
  display: flex;
  gap: 30px;
}

.favicon {
  width: 100px;
  height: 100px;
}
